
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPanel</title>
</head>
<body>
<div>
    @Html.Action("UserRecipes")
    @Html.ActionLink("sd","UserComments")
</div>
</body>
</html>
