@model MenuApp.Services.Models.UserModel.ChangePasswordModel



<h1>USER ID: @Model.UserId</h1>
<form method="post" action="@Url.Action("ChangePassword", "Authorization")">
    <input name="NewPassword" type="text"/>
    <button type="submit" value="Create">Znajdź</button>
    <input type="hidden" name="UserId" value="@Model.UserId"  />

</form>

