@model MenuApp.Core.Entities.User



<!DOCTYPE html>


<html>

<head>

    <meta name="viewport" content="width=device-width"/>

    <title>Login</title>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/Content/MaterialKit/js/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet"/>

    <link href="~/Content/AuthorizationContent/Login.css" rel="stylesheet"/>

    <link href="~/Content/MaterialKit/css/material-kit.css" rel="stylesheet"/>

    <script src="~/scripts/Login.js"></script>


</head>

<body>


@using (Html.BeginForm("Login", "Authorization", FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    <div class="materialContainer">



        <div class="box">


            <div class="title">LOGIN</div>

            <button class="btn btn-primary btn-fab btn-fab-mini btn-round" id="regibutton">

                <i class="material-icons" style="opacity: 0;">@Html.ActionLink("+", "Registration", "Authorization")</i>

                <div style="margin-left: -3px;">+</div>

            </button>

            <div class="input">

                <label for="name">Username</label>

                <input type="text" name="UserName" id="name">

                <span class="spin"></span>
            </div>


            <div class="input">

                <label for="pass">Password</label>

                <input type="password" name="Password" id="pass">

                <span class="spin"></span>
            </div>


            <div class="button login">

                <button>
                    <span>GO</span> <i class="fa fa-check"></i>
                </button>

            </div>


            <a href="" class="pass-forgot">Forgot your password?</a>


        </div>


    </div>
}


</body>

</html>