
<head>
    @{
        ViewBag.Title = "RecipeSite";
        Layout = "~/Views/_NavBar.cshtml";
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/scripts/Commons/AjaxCommons.js"></script>
    <script src="~/scripts/Home/Home.js"></script>

    <link href="~/Content/MaterialKit/css/material-kit.css" rel="stylesheet" />
    <script src="~/Content/MaterialKit/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/MaterialKit/js/bootstrap.min.js"></script>
    <script src="~/Content/MaterialKit/js/material-kit.js"></script>
    <script src="~/Content/MaterialKit/js/material.min.js"></script>
    <script src="~/Content/MaterialKit/js/nouislider.min.js"></script>
    <link href="~/Content/MaterialKit/css/demo.css" rel="stylesheet" />
    <link href="~/Content/MaterialKit/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/HomeContent/Index.css" rel="stylesheet" />

</head>
<body>
    <section class="parallax" id="FindBacground">
        <div>

            <div id="FindRecipe">@Html.Action("FindRecipes", "Recipe")</div>

            <div id="Category">
                <div class="category-button" syle="border:none">
                    <a href="~/Recipe/SearchByCategory?category=dinner">
                        <div class="btn btn-primary btn-simple button-nav" id="category-button-dinner">Kolacje</div>
                    </a>
                </div>
                <div class="category-button" syle="border:none">
                    <a href="~/Recipe/SearchByCategory?category=coffy">
                        <div class="btn btn-primary btn-simple button-nav" id="category-button-coffy">Kawy</div>
                    </a>
                </div>
                <div class="category-button" syle="border:none">
                    <a href="~/Recipe/SearchByCategory?category=desser">
                        <div class="btn btn-primary btn-simple button-nav" id="category-button-dessert">Desery</div>
                    </a>
                </div>
                <div class="category-button" syle="border:none">
                    <a href="~/Recipe/SearchByCategory?category=lunch">
                        <div class="btn btn-primary btn-simple button-nav" id="category-button-lunch">Obiady</div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <div class="Best-Recipes" style="height: 900px;">
        <div id="MenuShow">
            @Html.Action("MenuShow", "Recipe")
        </div>
    </div>


    <div id="Contact-area">
        <div id="Contact"> @Html.Action("Contact", "Home")</div>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NPDJKAJLTT7KJ">
        <input type="image" src="https://www.paypalobjects.com/pl_PL/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – Płać wygodnie i bezpiecznie">
        <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
    </form>
</body>