@model IEnumerable<MenuWeb.Core.Entities.RecipeCategory>


@foreach (var item in Model)
{
        <div class="MenuShow move" id="@item.Cuisine">
            <span><img src="~/Content/HomeContent/img/symbols.png" width="33" height="33" alt="@item.Cuisine"/></span>
            <span>@item.Cuisine</span>
        </div>
}
