
<div class="form-group is-empty">
    <form method="get" action="Recipe/FindRecipesToList/">
        <input name="Find" type="text" class="form-control" placeholder="Co byś zjadł?" style="width: 600px; color: black; border: none; text-align: center; font-size: xx-large" />
        <span class="material-input"></span>
        <button type="submit" class="btn btn-primary btn-round" style="width: 200px; margin-right: 50px; border: none;">Znajdź</button>
    </form>
    <div style="text-align: center; width: 150px; height: 20px; margin-left: 236px; margin-top: -10px;">       
        <div style="width: 100px; float: left;">Zawansowane</div>
        <div style="width: 50px;  float: left;"><a href="~/Recipe/RandomRecipe">Losuj</a></div>
    </div>
</div>
